.title {
    font-family: "Montserrat Alternates", sans-serif;
}

.subtitle {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.description__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    color: var(--color-white);
}
@media screen and (max-width:660px) {
    .description__title {
        font-size: 24px;
    }
}

.description__subtitle {
    width: 600px;
    text-align: left;
    color: var(--color-white);
}
@media screen and (max-width:660px) {
    .description__subtitle {
        width:auto;
    }
}

.advantages__title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;

}
.info__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}
.advantages__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.catalog__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}
.card__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.card__subtitle {
    font-size: 18px;
    text-align: left;
}

.other__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}

.about__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}
.footer__subtitle {
    color: var(--color-white);
    font-size: 18px;
}

