.advantages {
    margin-top: 60px;
}
.advantages__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 90px;
}
.advantages__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages__card {
    width: 270px;
    padding: 10px 15px 10px 15px;
}
@media screen and (max-width:550px) {
    .advantages__card {
        width: auto;
    }
}
.advantages__info {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
