.other__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 10px 0 10px;
}
.other__cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
.card-other__image {
    max-width: 355px;
    height: 375px;
    object-fit: cover; 
}
