@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*Color text*/
    --color-white:rgb(255, 255, 255);

    /*Color bg*/
    --bg-violet:#413b66c0;
    --bg-button:#F9F9F926;
}